.App {
  background-color: lightgreen;
  padding: 80px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App/div {
  background-color: lightcoral;
  padding: 40px;
  margin: 20px;
  border-radius: 25px;
  width: 200px;
  height: 200px;
  font: size 30px;
}
